[project]
	description = Manifest of OpenStack projects
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/David Pursehouse (dpursehouse)
[access "refs/for/refs/*"]
	read = group user/David Pursehouse (dpursehouse)
	push = group user/David Pursehouse (dpursehouse)
	label-Code-Review = -2..+2 group user/David Pursehouse (dpursehouse)
	label-Verified = -1..+1 group user/David Pursehouse (dpursehouse)
	rebase = group user/David Pursehouse (dpursehouse)
	removeReviewer = group user/David Pursehouse (dpursehouse)
	submit = group user/David Pursehouse (dpursehouse)
[access "refs/heads/*"]
	read = group user/David Pursehouse (dpursehouse)
	create = group user/David Pursehouse (dpursehouse)
	push = +force group user/David Pursehouse (dpursehouse)
	pushMerge = group user/David Pursehouse (dpursehouse)
[access "refs/tags/*"]
	push = +force group user/David Pursehouse (dpursehouse)
	pushTag = group user/David Pursehouse (dpursehouse)
	pushSignedTag = group user/David Pursehouse (dpursehouse)
